body {
	font: 14px 'Verdana';
	margin: 0;
	padding: 0;
	height: 100%;
}


ul {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
}

	ul:after {
		display: block;
		content: ' ';
		clear: both;
		float: none;
	}

	ul.menu > li {
		background:#121212;
		color:white;
	}


.news {
	color: white;
	font-size: 12px;
	background: rgb(47, 47, 47);
	padding: 5px 5px 5px 5px;
	margin-top:20px;
	margin-left:5px;
	margin-right:5px;
}

.top {
	font-size: 20px;
	color: white;
	background: rgb(46, 46, 46);
	font-size:25px;
	font-weight: 700;
}

		.top > li {
			color: yellow;
			font-size: 15px;
			font-weight: 700;
			border-bottom: 2px solid black;
			padding: 2px 2px 2px 2px;
			margin: 2px 2px 2px 2px;
		}
